.active {
  z-index: 5;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(226, 226, 226);
  position: absolute;
  justify-content: space-around;
  margin-left: 300px;
  margin-top:210px;
}

.inactive {
  display: none;
}

/* .content-container {
  margin: 15% auto;
} */

button {
  height: 30px;
  width: 70px;
  background-color: white;
  color: black;
  margin: 5px;
  border-radius: 10px;
}

.meal-text {
  display: flex;
  padding-left: 20px;
  flex-direction: left;
}

.meal {
  display: flex;
  justify-content: center;
}

.cuisine-text {
  display: flex;
  flex-direction: left;
  padding-left: 10px;
}

.cuisine {
  display: flex;
  justify-content: center;
}

.diet-rest {
  display: flex;
  justify-content: center;
}

.diet-rest-text {
  display: flex;
  flex-direction: left;
  padding-left: 10px;
}

.apply {
  display: flex;
  justify-content: center;
}

.button, #apply {
  height: 25px;
  width: 100px;
  margin: 5% auto;
  background-color: rgb(237, 60, 103);
  color: white;
}

p {
  font-size: 20px; 
}


@media screen and (min-width: 600px) {
}
